
.jumbotron{
    content: " ";
    background-image: url('https://i.pinimg.com/originals/6f/a4/2b/6fa42beacc96a9e23929acf8635064fd.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 48%;
    opacity: 0.9;
}
.jumbotron h1{
    background: linear-gradient(to right, green,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover{
    background: linear-gradient(to right, green,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-footer {
    background-color: whitesmoke;
    margin-top: 50px;
    border-top:green;
  }

.bordertest {
    height:170px;
    width:100%;
    position: absolute;
}
.bordertest::before {
    content:'';
    position:absolute;
    width:100%;
    height:10px;
    background:linear-gradient(to right, green, blue);
    top:-10px;
    left:0;
}


.fa-stack:focus, .fa-stack:hover{
    color:  green
}